<div class="container-fluid">
    <div class="row my-4">
        <div class="col-lg-10 col-12 offset-lg-1">
          <div class="justify-content-between flex-column flex-md-row">
            <h2 class="mb-0">Gebruikers beheren</h2>
            <div class="alert alert-danger" role="alert" *ngIf="isSubmitted && errorMessage">
                {{errorMessage}}
            </div>
            <br>
            <form class="mb-5" (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
                <div class="form-group">
                    <label for="firstName">Voornaam</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Voornaam" [(ngModel)]="user.firstName"
                        #firstName="ngModel" required>
                    <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">Voornaam moet ingevuld zijn</div>
                </div>
                <div class="form-group">
                    <label for="lastName">Achternaam</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Achternaam" [(ngModel)]="user.lastName"
                        #lastName="ngModel" required>
                    <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">Achternaam moet ingevuld zijn</div>
                </div>
                <div class="form-group" *ngIf="isAdd">
                    <label for="password">Wachtwoord</label>
                    <input type="text" class="form-control" id="password" name="password" placeholder="Wachtwoord" [(ngModel)]="user.password"
                        #password="ngModel" required minlength="5">
                    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Wachtwoord moet ingevuld zijn en minstens 5 karakters lang zijn</div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="user.email" [email]="true"
                        #email="ngModel" required>
                    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Email moet ingevuld zijn / juist ingevuld zijn</div>
                </div>
                <div class="form-group">
                    <label for="isActive">Actief</label>
                    <input type="checkbox" class="form-control checkbox" id="isActive" name="isActive" [(ngModel)]="user.isActive"
                        #name="ngModel">
                </div>
                <div class="form-group">
                    <label for="isAdmin">Admin</label>
                    <input type="checkbox" class="form-control checkbox" id="isAdmin" name="isAdmin" [(ngModel)]="user.isAdmin"
                        #name="ngModel">
                </div>
                <!--Select met FK companys-->
                <div class="form-group">
                    <label for="companyID">Bedrijf</label><br>
                    <select class="form-select" name="companyID" id="companyID" #select="ngModel" [(ngModel)]="user.company.companyID" (ngModelChange)="onChange($event)" required>
                        <option disabled value="0">Kies een bedrijf</option>
                        <option *ngFor="let company of companys" value="{{company.companyID}}" required>
                          {{ company.name }}
                        </option>
                      </select>
                      <div [hidden]="select.value > 0" class="alert alert-danger">Je moet een bedrijf kiezen</div>
                </div>
                <button type="submit" class="btn btn-green mb-5" *ngIf="isAdd" [disabled]="!userForm.form.valid || isSubmitted">Voeg toe</button>
                <button type="submit" class="btn btn-green" *ngIf="isEdit" [disabled]="!userForm.form.valid || isSubmitted">Opslaan</button>
            </form>
        </div>
    </div>
</div>