  <div class="row justify-content-lg-start h-100">
    <div class="overflow-hidden vh-100  col-12 col-md-3 d-none d-md-block p-0 bg1"></div>

    <div class="col-12 col-md-8 col-lg-6 d-flex justify-content-center align-items-center px-3 pr-md-4">
      <div class="d-flex flex-column w-100">

        <div class="container-fluid px-3 py-4  col-lg-8">
           <div class="d-flex align-items-center justify-content-between">
             <h3>Inloggen</h3>
             <img src="/assets/images/qiosk_logo.png" width="100" alt="">
           </div>
            <div class="alert alert-warning mt-2" role="alert" *ngIf="errorMessage">
              {{errorMessage}}
            </div>
            <form (ngSubmit)="onSubmit()" #authForm="ngForm" class="d-block d-flex flex-wrap">

              <div class="form-group col-12 px-0">
                <label for="email">Email *</label>
                <input type="email" name="email" id="email" class="form-control" [(ngModel)]="user.email" required email>
              </div>
              <div class="form-group col-12 px-0">
                <label for="password">Wachtwoord *</label>
                <input type="password" name="password" id="password" class="form-control" minlength="4" [(ngModel)]="user.password" required>
              </div>
              <input  name="login" id="login" class="btn btn-block btn-primary mb-2" type="submit" value="Inloggen" [disabled]="!authForm.form.valid || isSubmitted">
 </form>

        </div>
      </div>
    </div>
  </div>

