<div class="container-fluid">
    <div class="my-5">
        <div class="text-center middle">
            <div class="justify-content-between flex-column flex-md-row">
                <h2 class="mb-0">Bevestiging</h2>
            </div>
            <div>
                <p>Uw boeking is bevestigd! We kijken er naar uit om u te ontvangen.<br> U kunt nu de pagina sluiten.</p>
                <img class="col-5 mt-4 rounded" src="assets/images/confirm.jpg" alt="foto interactie vanroey">
            </div>
        </div>    
    </div>
</div>