<div class="my-5">
  <h2>Maak een boeking - Stap 1</h2>
  <form>
    <div class="mb-3">
      <label for="day" class="form-label">Welke dag?</label>
      <input type="date" class="form-control" id="day" aria-describedby="dayHelp">
      <small class="text-muted">De bezette momenten zijn niet selecteerbaar.</small>
    </div>
    <div class="mb-3">
      <label for="time" class="form-label">Om hoelaat?</label>
      <input type="time" class="form-control" id="time">
      <small class="text-muted">Een rondleiding duurt ongeveer 3u.</small>
    </div>
    <button type="button" class="btn btn-secondary" (click)="nextStep()">Volgende</button>
  </form>
</div>
