<button type="button" class="rotate float-right m-2 mt-5  shadow btn btn-secondary btn-rounded"><a class="text-white text-decoration-none" href="/admin/visualisaties"><i class="fas fa-database"></i> Data visualisatie</a></button>
<app-loading *ngIf="loading$ | async"></app-loading>
<div *ngIf="!(loading$ | async)" class="container mt-5 mb-5">
  <div class="row justify-content-between text-center">
    <div class="col-md-6 col-sm-12">
      <h2>Aankomende boekingen</h2>
      <table class="table table-striped bg-secondary">
        <thead>
          <tr class="border">
            <th>Bedrijf</th>
            <th>Wanneer</th>
            <th>#<span class="text-secondary">_</span>bezoekers </th>
          </tr>
        </thead>
        <tbody class="border bg-white">
          <tr *ngFor="let booking of bookings">
            <td>{{booking.company.name}}</td>
            <td class="border">{{booking.bookingTime| date: "dd MMM yyyy - hhumm" }}</td>
            <td>{{booking.numberOfVisitors}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 col-sm-12">
      <h2>Kiosks</h2>
      <table class="table table-striped bg-secondary">
        <thead>
          <tr>
            <th>Naam</th>
            <th>Beschrijving</th>
          </tr>
        </thead>
        <tbody class="bg-white border">
          <tr *ngFor="let kiosk of kiosks">
            <td class="border">{{kiosk.name}}</td>
            <td>{{kiosk.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 mb-5 pb-5">
      <h2>Snelle navigatie</h2>
      <ul class="list-group">
        <div class="list-group-item"><a href="/admin/boekingen"><i class="far fa-calendar-alt"></i> - Boekingen</a></div>
        <div class="list-group-item"><a href="/admin/gebruikers"><i class="fas fa-user"></i> - Gebruikers</a></div>
        <div class="list-group-item"><a href="/admin/bedrijven"><i class="fas fa-building"></i> - Bedrijven</a></div>
        <div class="list-group-item"><a href="/admin/kiosks"><i class="fas fa-store"></i> - Kiosks</a></div>
        <div class="list-group-item"><a href="/admin/tagusers"><i class="fa fa-user-tag"></i> - Tags linken</a></div>
        <div class="list-group-item"><a href="/admin/tags"><i class="fa fa-user-tag"></i> - Tags</a></div>
        <div class="list-group-item"><a href="/admin/visualisaties"><i class="fas fa-database"></i> - Data visualisatie</a></div>
      </ul>
    </div>
  </div>
</div>
