<div class="container mt-5 mb-5">
  <div class="row justify-content-between text-center">
    <div class="col-md-6 col-sm-12">
      <h2>Aankomende boekingen</h2>
      <table class="table table-striped bg-secondary">
        <thead>
          <tr>
            <th>Bedrijf</th>
            <th>Datum</th>
            <th>Aantal</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Thomas More</td>
            <td>17/02/2022</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Thomas More</td>
            <td>17/02/2022</td>
            <td>5</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 col-sm-12">
      <h2>Tags</h2>
      <table class="table table-striped bg-secondary">
        <thead>
          <tr>
            <th>Tag nummer</th>
            <th>Gelinkt aan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>QioskD2</td>
          </tr>
          <tr>
            <td>2</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 mb-5 pb-5">
      <h2>Snelle navigatie</h2>
      <ul class="list-group">
        <div class="list-group-item"><a href="/admin/boekingen"><i class="far fa-calendar-alt"></i> - Boekingen</a></div>
        <div class="list-group-item"><a href="/admin/gebruikers"><i class="fas fa-user"></i> - Gebruikers</a></div>
        <div class="list-group-item"><a href="/admin/tags"><i class="fa fa-user-tag"></i> - Tags</a></div>
        <div class="list-group-item"><a href="#"><i class="fas fa-database"></i> - Data visualisatie</a></div>
      </ul>
    </div>
  </div>
</div>
