<div class="my-5">
  <h2>Maak een boeking - Stap 1</h2>
    <div class="mb-3">
      <label for="day" class="form-label">Welke dag?</label>
      <input type="date" min="04/02/2022" class="form-control" id="day" aria-describedby="dayHelp" name="date" [(ngModel)]="this.date" required>
      <small class="text-muted">De bezette momenten zijn niet selecteerbaar.</small>
    </div>
    <div class="mb-3">
      <label for="time" class="form-label">Om hoelaat?</label>
      <div class="d-flex">
        <button onclick="" [disabled]="!negen" class="mr-2 form-control w-25">9:00</button>
        <button onclick="" [disabled]="!een" een class=" form-control w-25">13:00</button>
      </div>      <small class="text-muted">Een rondleiding duurt ongeveer 3u.</small>
    </div>
    <button type="button" class="btn btn-secondary" (click)="nextStep()">Volgende</button>
</div>
