<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="/"><img src="assets/images/qiosk_logo.png" alt="Qiosk Logo" height="50px">De Slimme Qiosk</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true } " data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/booking">Maak een boeking</a>
      </li>
      <li  *ngIf="authService.isLoggedIn()" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/admin/booking">Boekingen</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/admin/users">Gebruikers</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/admin/tags">Tags</a>
      </li>
      <li *ngIf="!authService.isLoggedIn()" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/admin/login">Admin</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/admin/dashboard">Dashboard</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/admin/logout">Afmelden</a>
      </li>
    </div>
  </div>
</nav>
