<div class="my-5">
  <h2>Maak een boeking - Stap 2</h2>
    <form class="row">
      <div class="col-md-5 col-sm-12">
      <div class="mb-3">
        <label for="company" class="form-label">Bedrijfsnaam</label>
        <input type="text" class="form-control" id="company" name="company" aria-describedby="company" [(ngModel)]="this.company">
      </div>
      <div class="mb-3">
        <label for="firstname" class="form-label">Uw voornaam</label>
        <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="this.firstname">
      </div>
      <div class="mb-3">
        <label for="lastname" class="form-label">Uw achternaam</label>
        <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="this.lastname">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Uw email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="this.email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Gezamelijk wachtwoord</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="this.password">
        <small class="text-muted">Dit wachtwoord moet worden gedeeld met de extra personen.</small>
      </div>
  </div>
  <div class="col-md-7 col-sm-12">
    <div>
      <div class="row ">
        <div class="mb-3 col-md-3">
          <label for="text" class="form-label">Voornaam</label>
          <input type="text" class="form-control" id="extraFirstName" name="extraFirstName" [(ngModel)]="this.extraFirstName">
        </div>
        <div class="mb-3 col-md-3">
          <label for="text" class="form-label">Achternaam</label>
          <input type="text" class="form-control" id="extraLastName" name="extraLastName" [(ngModel)]="this.extraLastName">
        </div>
        <div class="mb-3 col-md-3">
          <label for="text" class="form-label">Email</label>
          <input type="text" class="form-control" id="extraEmail" name="extraEmail" [(ngModel)]="this.extraEmail">
        </div>
        <div class="mb-3 col-md-3 d-flex align-items-end">
          <button class="btn btn-secondary" (click)="addExtraUser()"><i class="fas fa-plus"></i></button>
        </div>
    </div>
  </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Naam</th>
          <th scope="col">Email</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of extraUsers; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{user[0] + " " + user[1]}}</td>
          <td>{{user[2]}}</td>
          <td><button type="button" class="btn btn-sm btn-light delete" (click)="deleteExtraUser(user[0])"><i class="far fa-trash-alt"></i></button></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="ml- mb-5">
      <button type="submit" class="mb-5 btn btn-secondary" (click)="UserData()">Boeken</button>
    </div>
</form>
