// All global scss here :)
@import "variables";

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
}

.crud-table {
  thead {
    * {
      color: whitesmoke;
      font-weight: normal;
    }
  }
  tr {
    .fa-check {
      color: $success-green;
    }
    .fa-times {
      color: $danger-red;
    }
  }
}

.hfa {
  height: -webkit-fill-available;
}

.b-0 {
  bottom: 0;
}
.bg1 {
  background-image: url("../assets/images/EC_lang.jpg");
  background-size: cover;
}
.showDiv{
  opacity: 1 !important;
  }
  .step{
  opacity: 0;
  transition: 1s ease-in-out all;
  }
  .modal-backdrop
{
width: 100%!important;
height: 100%!important;
}
