// All global scss here :)
@import "variables";

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
}

.crud-table{
  thead{
    *{
      color: whitesmoke;
      font-weight: normal;
    }
  }
  tr{
    .fa-check{
      color: $success-green;
    }
    .fa-times{
      color: $danger-red;
    }

  }
}

.height-100{
  height: 100% !important;
}
