<div class=" d-flex flex-wrap">
  <div class="overflow-hidden vh-100 col-12 col-md-3 d-none d-md-block bg1"></div>
  <div class="overflow-hidden col-12 col-md-3 d-md-none p-0"><img src="assets/images/EC_breed.png" alt="EC" width="100%" height="auto" ></div>

  <div class="col-12 col-md-9 m-auto p-md-5 p-lg-auto">
    <h1 class="d-none d-md-block text-center"><u>Experience Center</u></h1>
    <h3 class="d-md-none text-center"><u>Experience Center</u></h3>
    <p class="text-center d-none d-md-block">
      De moderne werkplek, innovatieve vergadertools, intelligente netwerken, slimmer samenwerken… Laat je onderdompelen in het beste wat hedendaagse technologie te bieden heeft en ontdek hoe je deze tools kan inzetten in jouw organisatie!
      <br><br>
      In ons Experience Center vind je geen futuristische fictie van wat zou kunnen komen, wel een actieve én interactieve voorstelling van toekomstbestendige technologie die het werk verlicht, voor democratische prijzen.

    </p>
    <p class="d-md-none text-center small">
      De moderne werkplek, innovatieve vergadertools, intelligente netwerken, slimmer samenwerken… Laat je onderdompelen in het beste wat hedendaagse technologie te bieden heeft en ontdek hoe je deze tools kan inzetten in jouw organisatie!
      <br><br>
      In ons Experience Center vind je geen futuristische fictie van wat zou kunnen komen, wel een actieve én interactieve voorstelling van toekomstbestendige technologie die het werk verlicht, voor democratische prijzen.

    </p>
    <p class="text-center"><a class="center btn btn-secondary" href="/boeking">Boek nu!</a>
    </p>
    </div>
</div>
