<div class="h-auto d-flex flex-wrap">
  <div class="overflow-hidden col-12 col-md-3 d-none d-md-block p-0"><img src="assets/images/EC_lang.jpg" alt="EC" width="400px" height="auto" ></div>
  <div class="col-12 col-md-3 d-md-none p-0"><img src="assets/images/EC_breed.jpg" alt="EC" width="100%" height="auto" ></div>
  <div class="col-12 col-md-9 justify-content-center m-auto">
    <h1 class="text-center"><u>Experience Center</u></h1>
    <p class="text-center">
      De moderne werkplek, innovatieve vergadertools, intelligente netwerken, slimmer samenwerken… Laat je onderdompelen in het beste wat hedendaagse technologie te bieden heeft en ontdek hoe je deze tools kan inzetten in jouw organisatie!
      <br><br>
      In ons Experience Center vind je geen futuristische fictie van wat zou kunnen komen, wel een actieve én interactieve voorstelling van toekomstbestendige technologie die het werk verlicht, voor democratische prijzen.

    </p>
    <p class="text-center"><a class="center btn btn-primary" href="#">Boek nu!</a>
    </p>
    </div>
</div>
