<div class="my-5">
  <h2>Maak een boeking - Stap 2</h2>
    <form class="row">
      <div class="col-md-5 col-sm-12">
      <div class="mb-3">
        <label for="company" class="form-label">Bedrijfsnaam</label>
        <input type="text" class="form-control" id="company" aria-describedby="company">
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Uw naam</label>
        <input type="text" class="form-control" id="name">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Uw email</label>
        <input type="email" class="form-control" id="email">
        <small class="text-muted">Er wordt een email verstuurd naar alle bezoekers om een wachtwoord aan te maken en instructies om de Qiosk app te installeren.</small>
      </div>
      <div class="mb-3">
        <label for="numberOfPersons" class="form-label">Aantal extra bezoekers</label>
        <select name="numberOfPersons" id="numberOfPersons"  class="form-control">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
    </div>
  </div>
  <div class="col-md-7 col-sm-12 d-flex align-items-center">
    <div class="row">
      <div class="mb-3 col-md-6 col-sm-12">
        <label for="name" class="form-label">Naam van persoon 1</label>
        <input type="text" class="form-control" id="name">
      </div>
      <div class="mb-3 col-md-6 col-sm-12">
        <label for="email" class="form-label">Email van persoon 1</label>
        <input type="email" class="form-control" id="email">
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <button type="submit" class="btn btn-secondary">Boeken</button>
  </div>
  </form>
</div>
